version: '2'
services:
    mma-app:
        image: mma
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:postgresql://mma-postgresql:5432/mma
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
            - SPRING_DATA_ELASTICSEARCH_CLUSTER_NODES=mma-elasticsearch:9300
        ports:
            - 8080:8080
    mma-postgresql:
        extends:
            file: postgresql.yml
            service: mma-postgresql
    mma-elasticsearch:
        extends:
            file: elasticsearch.yml
            service: mma-elasticsearch
