
<div *ngIf="csgoItem">
    <h2><span>Csgo Item</span> {{csgoItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{csgoItem.name}}</span>
        </dd>
        <dt><span>Sp</span></dt>
        <dd>
            <span>{{csgoItem.sp}}</span>
        </dd>
        <dt><span>Opm</span></dt>
        <dd>
            <span>{{csgoItem.opm}}</span>
        </dd>
        <dt><span>Vol</span></dt>
        <dd>
            <span>{{csgoItem.vol}}</span>
        </dd>
        <dt><span>Mp 7</span></dt>
        <dd>
            <span>{{csgoItem.mp7}}</span>
        </dd>
        <dt><span>Avg 7</span></dt>
        <dd>
            <span>{{csgoItem.avg7}}</span>
        </dd>
        <dt><span>Lp 7</span></dt>
        <dd>
            <span>{{csgoItem.lp7}}</span>
        </dd>
        <dt><span>Hp 7</span></dt>
        <dd>
            <span>{{csgoItem.hp7}}</span>
        </dd>
        <dt><span>Mad 7</span></dt>
        <dd>
            <span>{{csgoItem.mad7}}</span>
        </dd>
        <dt><span>Dp 7</span></dt>
        <dd>
            <span>{{csgoItem.dp7}}</span>
        </dd>
        <dt><span>Trend 7</span></dt>
        <dd>
            <span>{{csgoItem.trend7}}</span>
        </dd>
        <dt><span>Vol 7</span></dt>
        <dd>
            <span>{{csgoItem.vol7}}</span>
        </dd>
        <dt><span>Mp 30</span></dt>
        <dd>
            <span>{{csgoItem.mp30}}</span>
        </dd>
        <dt><span>Avg 30</span></dt>
        <dd>
            <span>{{csgoItem.avg30}}</span>
        </dd>
        <dt><span>Lp 30</span></dt>
        <dd>
            <span>{{csgoItem.lp30}}</span>
        </dd>
        <dt><span>Hp 30</span></dt>
        <dd>
            <span>{{csgoItem.hp30}}</span>
        </dd>
        <dt><span>Mad 30</span></dt>
        <dd>
            <span>{{csgoItem.mad30}}</span>
        </dd>
        <dt><span>Dp 30</span></dt>
        <dd>
            <span>{{csgoItem.dp30}}</span>
        </dd>
        <dt><span>Trend 30</span></dt>
        <dd>
            <span>{{csgoItem.trend30}}</span>
        </dd>
        <dt><span>Vol 30</span></dt>
        <dd>
            <span>{{csgoItem.vol30}}</span>
        </dd>
        <dt><span>Mp All</span></dt>
        <dd>
            <span>{{csgoItem.mpAll}}</span>
        </dd>
        <dt><span>Avg All</span></dt>
        <dd>
            <span>{{csgoItem.avgAll}}</span>
        </dd>
        <dt><span>Lp All</span></dt>
        <dd>
            <span>{{csgoItem.lpAll}}</span>
        </dd>
        <dt><span>Hp All</span></dt>
        <dd>
            <span>{{csgoItem.hpAll}}</span>
        </dd>
        <dt><span>Mad All</span></dt>
        <dd>
            <span>{{csgoItem.madAll}}</span>
        </dd>
        <dt><span>Dp All</span></dt>
        <dd>
            <span>{{csgoItem.dpAll}}</span>
        </dd>
        <dt><span>Trend All</span></dt>
        <dd>
            <span>{{csgoItem.trendAll}}</span>
        </dd>
        <dt><span>Vol All</span></dt>
        <dd>
            <span>{{csgoItem.volAll}}</span>
        </dd>
        <dt><span>Added</span></dt>
        <dd>
            <span>{{csgoItem.added | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'csgo-item/'+ csgoItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
