
<div *ngIf="csgoItem">
    <h2><span>Csgo Item</span> {{csgoItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="row col-6">
            <dl class="row-md jh-entity-details">
                <dt><span>Name <mark>(Market Hash Name)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.name}}</kbd>
                </dd>
                <dt><span>Safe Price <mark>(Sp)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.sp | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>Ongoing Price Panipulation <mark>(Opm)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.opm}}</kbd>
                </dd>
                <dt><span>Total Volume <mark>(Vol)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.vol}}</kbd>
                </dd>
                <dt><span>7 Days Median Price <mark>(Mp 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.mp7 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>7 Days Average Price <mark>(Avg 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.avg7 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>7 Days Lowest Price <mark>(Lp 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.lp7 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>7 Days Highest Price <mark>(Hp 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.hp7 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>7 Days Mean Absolute Deviation <mark>(Mad 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.mad7}}</kbd>
                </dd>
                <dt><span>7 Days Deviation Percentage <mark>(Dp 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.dp7}}</kbd>
                </dd>
                <dt><span>7 Days Trend <mark>(Trend 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.trend7}}</kbd>
                </dd>
                <dt><span>7 Days Volume <mark>(Vol 7)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.vol7}}</kbd>
                </dd>
                <dt><span>CSGOFast Price<mark>(Cfp)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.cfp | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>SteamAPI.IO Price<mark>(Iop)</mark></span></dt>
                <dd>
                      <kbd>{{csgoItem.iop | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>CSGOFast XYZ price difference <mark>(Dcx)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.dcx}}%</kbd>
                </dd>
                <dt><span>OPSkins lowest price<mark>(Oplp)</mark></span></dt>
                <dd>
                    <kbd><span>{{csgoItem.oplp | currency:'USD':true}}</span></kbd>
                </dd>
                <dt><span>Safe Price Opskins price difference <mark>(Dopx)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.dopx}}%</kbd>
                </dd>
                <dt><span>OPSkins Quantity<mark>(Opq)</mark></span></dt>
                <dd>
                    <kbd><span>{{csgoItem.dopx}}</span></kbd>
                </dd>
            </dl>
        </div>
        <div class="row col-6">
            <dl class="row-md jh-entity-details">
                <dt><span>30 Days Median Price <mark>(Mp 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.mp30 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>30 Days Average Price <mark>(Avg 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.avg30 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>30 Days Lowest Price <mark>(Lp 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.lp30 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>30 Days Highest Price <mark>(Hp 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.hp30 | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>30 Days Mean Absolute Deviation <mark>(Mad 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.mad30}}</kbd>
                </dd>
                <dt><span>30 Days Deviation Percentage <mark>(Dp 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.dp30}}</kbd>
                </dd>
                <dt><span>30 Days Trend <mark>(Trend 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.trend30}}</kbd>
                </dd>
                <dt><span>30 Days Volume <mark>(Vol 30)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.vol30}}</kbd>
                </dd>
                <dt><span>All Time Median Price <mark>(Mp All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.mpAll | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>All Time Average Price <mark>(Avg All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.avgAll | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>All Time Lowest Price <mark>(Lp All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.lpAll | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>All Time Highest Price <mark>(Hp All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.hpAll | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>All Time Mean Absolute Deviation <mark>(Mad All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.madAll}}</kbd>
                </dd>
                <dt><span>All Time Deviation Percentage <mark>(Dp All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.dpAll}}</kbd>
                </dd>
                <dt><span>All Time Trend <mark>(Trend All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.trendAll}}</kbd>
                </dd>
                <dt><span>All Time Volume <mark>(Vol All)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.volAll}}</kbd>
                </dd>
                <dt><span>First Seen <mark>(Added)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.added | date:'medium'}}</kbd>
                </dd>
                <dt><span>Rank <mark>(sp x vol30 x opq)</mark></span></dt>
                <dd>
                    <kbd>{{csgoItem.rank}}</kbd>
                </dd>
            </dl>
        </div>
    </div>



    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button hidden type="button"
            [routerLink]="['/', { outlets: { popup: 'csgo-item/'+ csgoItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
