<div>
    <h2>
        <span>Pubgitems</span>
        <button class="btn btn-primary float-right jh-create-entity create-pubgitem" [routerLink]="['/', { outlets: { popup: ['pubgitem-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Pubgitem
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pubgitems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rank"><span>Rank</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sp"><span>Sp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cfp"><span>Cfp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avgp"><span>Avgp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="oplp"><span>Oplp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dcx"><span>Dcx</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dopx"><span>Dopx</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="opq"><span>Opq</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="s30d"><span>S30d</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="iop"><span>Iop</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pubgitem of pubgitems ;trackBy: trackId">
                <td><a [routerLink]="['../pubgitem', pubgitem.id ]">{{pubgitem.name}}</a></td>
                <td>{{pubgitem.rank}}</td>
                <td><span class="opm {{pubgitem.uns}}">{{pubgitem.sp | currency:'USD':true}}</span></td>
                <td>{{pubgitem.cfp | currency:'USD':true}}</td>
                <td>{{pubgitem.avgp | currency:'USD':true}}</td>
                <td>{{pubgitem.oplp | currency:'USD':true}}</td>
                <td>{{pubgitem.dcx != null ? pubgitem.dcx + '%' : ''}}</td>
                <td>{{pubgitem.dopx != null ? pubgitem.dopx + '%' : ''}}</td>
                <td>{{pubgitem.opq}}</td>
                <td>{{pubgitem.s30d}}</td>
                <td>{{pubgitem.iop | currency:'USD':true}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <a href="https://opskins.com/?app=578080_2&loc=shop_search&search_item={{pubgitem.name}}&sort=lh" target="_blank">
                            <span class="fa fa-eye"></span>
                        </a>
                        <button hidden type="submit"
                                [routerLink]="['../pubgitem', pubgitem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button hidden type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pubgitem/'+ pubgitem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button hidden type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pubgitem/'+ pubgitem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
