<div>
    <h2>
        <span>Pubgitems</span>
        <button class="btn btn-primary float-right jh-create-entity create-pubgitem" [routerLink]="['/', { outlets: { popup: ['pubgitem-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Pubgitem
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pubgitems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uns"><span>Uns</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unsr"><span>Unsr</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rank"><span>Rank</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sp"><span>Sp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meanp"><span>Meanp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxp"><span>Maxp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avgp"><span>Avgp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="minp"><span>Minp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lp"><span>Lp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="savgd"><span>Savgd</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="s24h"><span>S 24 H</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="s7d"><span>S 7 D</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="s30d"><span>S 30 D</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="s90d"><span>S 90 D</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nid"><span>Nid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uat"><span>Uat</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pubgitem of pubgitems ;trackBy: trackId">
                <td><a [routerLink]="['../pubgitem', pubgitem.id ]">{{pubgitem.id}}</a></td>
                <td>{{pubgitem.name}}</td>
                <td>{{pubgitem.uns}}</td>
                <td>{{pubgitem.unsr}}</td>
                <td>{{pubgitem.rank}}</td>
                <td>{{pubgitem.sp}}</td>
                <td>{{pubgitem.meanp}}</td>
                <td>{{pubgitem.maxp}}</td>
                <td>{{pubgitem.avgp}}</td>
                <td>{{pubgitem.minp}}</td>
                <td>{{pubgitem.lp}}</td>
                <td>{{pubgitem.savgd}}</td>
                <td>{{pubgitem.s24h}}</td>
                <td>{{pubgitem.s7d}}</td>
                <td>{{pubgitem.s30d}}</td>
                <td>{{pubgitem.s90d}}</td>
                <td>{{pubgitem.nid}}</td>
                <td>{{pubgitem.uat | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pubgitem', pubgitem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pubgitem/'+ pubgitem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pubgitem/'+ pubgitem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
