
<div *ngIf="pubgitem">
    <h2><span>Pubgitem</span> {{pubgitem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="row col-6">
            <dl class="row-md jh-entity-details">
                <dt><span>Name <mark>(Market Hash Name)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.name}}</kbd>
                </dd>
                <dt><span>Safe Price <mark>(Sp)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.sp | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>Unstable <mark>(uns)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.uns}}</kbd>
                </dd>
                <dt><span>Unstable Reason <mark>(unsr)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.unsr}}</kbd>
                </dd>
                <dt><span>Max Price <mark>(maxp)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.maxp}}</kbd>
                </dd>
                <dt><span>Avg Price <mark>(avgp)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.avgp}}</kbd>
                </dd>
                <dt><span>Min Price <mark>(minp)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.minp}}</kbd>
                </dd>
                <dt><span>Sold Avg Daily<mark>(savgd)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.savgd}}</kbd>
                </dd>
                <dt><span>Sold Last 24 Hours<mark>(s24h)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.s24h}}</kbd>
                </dd>
                <dt><span>Sold Last 7 Days<mark>(s7d)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.s7d}}</kbd>
                </dd>
                <dt><span>Sold Last 30 Days<mark>(s30d)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.s30d}}</kbd>
                </dd>
                <dt><span>Sold Last 90 Days<mark>(s90d)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.s90d}}</kbd>
                </dd>
            </dl>
        </div>
        <div class="row col-6">
            <dl class="row-md jh-entity-details">
                <dt><span>Dapubg.com Price<mark>(Cfp)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.cfp | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>SteamAPI.IO Price<mark>(Iop)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.iop | currency:'USD':true}}</kbd>
                </dd>
                <dt><span>CSGOFast XYZ price difference <mark>(Dcx)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.dcx}}%</kbd>
                </dd>
                <dt><span>OPSkins lowest price<mark>(Oplp)</mark></span></dt>
                <dd>
                    <kbd><span>{{pubgitem.oplp | currency:'USD':true}}</span></kbd>
                </dd>
                <dt><span>Safe Price Opskins price difference <mark>(Dopx)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.dopx}}%</kbd>
                </dd>
                <dt><span>OPSkins Quantity<mark>(Opq)</mark></span></dt>
                <dd>
                    <kbd><span>{{pubgitem.opq}}</span></kbd>
                </dd>
                <dt><span>Rank <mark>(sp x s30d x opq)</mark></span></dt>
                <dd>
                    <kbd>{{pubgitem.rank}}</kbd>
                </dd>
            </dl>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pubgitem/'+ pubgitem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
